<_>
   <form_key>j6u0vwg3ZvAOiGYn</form_key>
   <name>SpringboardRetailIntegration</name>
   <channel>community</channel>
   <version_ids>
      <version_ids>2</version_ids>
   </version_ids>
   <summary>Extend Magento API to integrate to Springboard Retail</summary>
   <description>This extension improves default features of Magento API allowing it to integrate to Springboard Retail</description>
   <license>MIT</license>
   <license_uri>https://raw.githubusercontent.com/springboardretail/springboard-client-ruby/master/LICENSE</license_uri>
   <version>0.0.1</version>
   <stability>devel</stability>
   <notes>Initial packaging</notes>
   <authors>
      <name>
         <name>Springboard Retail</name>
      </name>
      <user>
         <user>SpringboardR</user>
      </user>
      <email>
         <email>dyego@springboardretail.com</email>
      </email>
   </authors>
   <depends_php_min>5.4.0</depends_php_min>
   <depends_php_max>6.0.0</depends_php_max>
   <depends>
      <package>
         <name>
            <name/>
         </name>
         <channel>
            <channel/>
         </channel>
         <min>
            <min/>
         </min>
         <max>
            <max/>
         </max>
         <files>
            <files>  </files>
         </files>
      </package>
      <extension>
         <name>
            <name>Core</name>
         </name>
         <min>
            <min/>
         </min>
         <max>
            <max/>
         </max>
      </extension>
   </depends>
   <contents>
      <target>
         <target>magelocal</target>
         <target>magecommunity</target>
         <target>mageetc</target>
      </target>
      <path>
         <path/>
         <path>SpringboardRetail</path>
         <path>modules/SpringboardRetail_Api.xml</path>
      </path>
      <type>
         <type>file</type>
         <type>dir</type>
         <type>file</type>
      </type>
      <include>
         <include/>
         <include/>
         <include/>
      </include>
      <ignore>
         <ignore/>
         <ignore/>
         <ignore/>
      </ignore>
   </contents>
   <page>1</page>
   <limit>200</limit>
   <folder/>
   <package/>
</_>
